.btnGen {
    margin: 3px;
    border: 1px solid black;
    font-size: 30px;
    padding: 15px 15px;
    width: 2em;
    color: black;
    background-color: #46b5ff;
    font-family: 'Recursive', sans-serif;
    border-radius: 8px;
}

#calc {
    font-size: 30px;
    background-color: #0086cb;
    font-family: 'Recursive', sans-serif;
    color: black;
    margin-bottom: 5px;
    margin-top: 10px;
}

.calcInputBlue .btnGen {
    background-color: #46b5ff;
}

.calcInputBlue .btnGen:hover {
    background-color: #85e7ff;
}

.calcInputRed .btnGen {
    background-color: #d50000;
}

.calcInputRed .btnGen:hover {
    background-color: #ff5131;
}

.colorSelect {
    padding-top: 10px;
}

.btnColor {
    width: 5em;
    font-family: 'Recursive', sans-serif;
}